header .row>div:nth-child(1)>a {
    display: block;
    width: 158px;
    height: 50px;
    background: url("https://cdn.discordapp.com/attachments/631067623643152386/813245972041433098/73a584c91ce8960f.png") no-repeat;
    background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}