header .row>div:nth-child(1)>a {
    display: block;
    width: 200px;
    height: 50px;
    background: url("https://cdn.discordapp.com/attachments/631067623643152386/813255008719208458/8d6d5939be0a513a.png") no-repeat;
    background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}