header .row>div:nth-child(1)>a {
    display: block;
    width: 200px;
    height: 50px;
    background: url("https://cdn.discordapp.com/attachments/631067623643152386/813250678410444890/38c84dd221b6d0d7.png") no-repeat;
    background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}