*:focus {
    outline: none;
}

html {
    background: url("https://cdn.discordapp.com/attachments/631067623643152386/813279101006905374/a47af055e43e271c.png");
    height: 1920px;
    width: 1080px;
}

body {
    background: transparent;
}

a {
    color: rgb(93, 190, 255);
}

a:hover,
a:focus {
    color: rgb(0, 96, 206);
}

header #right-search-form>input[type=text] {
    margin-top: 3px;
    margin-right: 18px;
    border: 1px dashed rgb(0, 96, 206);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 96, 206), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px #eee;
    transition: 0.2s;
}

header #right-search-form>input[type=text]:hover,
header #right-search-form>input[type=text]:focus {
    border-color: rgb(0, 153, 255);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(86, 207, 255), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px rgb(54, 164, 255);
}

header #right-search-form>#right-search-btn {
    margin-top: 3px;
    color: rgb(0, 96, 206);
    background: white;
    border: 1px dashed rgb(0, 96, 206);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 96, 206), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px rgb(54, 164, 255);
    border-radius: 15px;
    transition: 0.2s;
}

header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
    color: rgb(0, 153, 255);
    border: 1px dashed rgb(0, 153, 255);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 153, 255), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px rgb(54, 164, 255);
}

header #header-bar>.row {
    margin-top: 5px;
    border: 1px dashed rgb(0, 96, 206);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 96, 206), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px #eee;
}

header #header-bar a.dropdown-toggle {
    color: rgb(0, 153, 255);
}

header #header-bar #header-top-notice strong.notice-badge {
    background: rgb(0, 153, 255);
}

header #header-bar #header-top-notice a {
    color: rgb(0, 153, 255);
}

header #header-bar #header-menu-right #userDropdown #notification-badge {
    background: rgb(0, 153, 255);
}

#main .menu-wrapper {
    margin-bottom: 1.8em;
    border: 1px dashed rgb(0, 96, 206);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 96, 206), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px #eee;
}

#main .menu-wrapper>.header {
    background: rgb(93, 190, 255);
    color: rgb(0, 153, 255);
    border-bottom: 1px dashed rgb(0, 96, 206);
}

#main .menu-wrapper>a,
#main .menu-wrapper>.header>a {
    color: rgb(0, 153, 255);
}

#main .menu-wrapper>a>em {
    color: rgb(0, 153, 255);
}

#main .menu-wrapper .spacer {
    background: rgb(0, 96, 206);
    height: 2px;
}

#main .menu-wrapper>a>i.fa.fa-square {
    color: rgb(0, 153, 255);
}

#main #main-content {
    padding-left: 21px;
}

#main #main-content>div.frame {
    border: 1px dashed rgb(0, 96, 206);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 96, 206), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px #eee;
}

#board-info #board-info-bottom a {
    color: rgb(0, 153, 255);
}

#board-info #viewers-area #viewers:before {
    content: "현재";
    /* 접속자 수 앞 문구 */
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명이 타오릅니다.";
    /* 접속자 수 뒤 문구 */
    cursor: text;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
    line-height: inherit;
    background: white;
    border-radius: 20px;
    border: 1px dashed rgb(0, 96, 206);
    box-shadow: 0 0 0 3px rgb(93, 190, 255), 0 0 0 5px rgb(0, 96, 206), 0 0 0 8px rgb(93, 190, 255), 0 0 2px 8px #eee;
    color: rgb(0, 153, 255);
}

#article-list #article-list-category {
    background: white;
    border-top: 2px dashed rgb(0, 96, 206);
}

#article-list #article-list-category>a {
    background: white;
    transition: 0.2s;
}

#article-list #article-list-category>a:hover,
#article-list #article-list-category>a:focus {
    background: #eee;
}

#article-list #article-list-category>a>.fa-home:before {
    color: rgb(0, 153, 255);
}

#article-list>.article-list-row>.item>.list-header>span {
    background: rgb(0, 153, 255);
}

span.a-badge i.fa.fa-info-circle {
    color: rgb(0, 153, 255);
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: rgb(0, 153, 255);
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: rgb(0, 153, 255);
}

#article-content-wrapper>.header {
    border-top: 1px dashed rgb(0, 96, 206);
}

#article-reply-area>.header h5,
#article-reply-area>.header h5>a {
    color: rgb(0, 153, 255);
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-real-area .reply>.reply-header>.reply-menu a,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-menu a {
    color: rgb(0, 153, 255);
}

.fr-popup,
.fr-toolbar.fr-top {
    border-top: 3px dashed rgb(0, 153, 255);
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
    color: rgb(0, 153, 255);
}

#article-neighbor-list>div,
#article-neighbor-list>div>a {
    color: rgb(0, 153, 255);
}

#article-list #boardSearchForm .form-control {
    width: calc(100% - 2px);
    margin-left: 1.5px;
    border: 1px solid rgb(0, 153, 255);
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:focus {
    background-color: rgb(0, 153, 255);
    border-color: rgb(0, 153, 255);
    transition: 0.2s;
}

.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>li>a:hover,
.pagination>li>span:hover {
    background-color: white;
    border-color: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    transition: 0.2s;
}

.pagination>li>a,
.pagination>li>a:focus,
.pagination>li>span .pagination>li>span:focus {
    color: rgb(0, 153, 255);
    background: white;
    transition: 0.2s;
}


/* 버튼 */

.btn {
    color: white !important;
    background-color: rgb(0, 153, 255) !important;
    border-color: rgb(0, 153, 255) !important;
    border-radius: 0;
    transition: 0.2s;
}

.btn:hover,
.btn:focus {
    color: rgb(0, 153, 255) !important;
    background-color: white !important;
}

.btn.square {
    margin-right: -2px;
}